@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

body {
  font: 15px system-ui;
}

.banner {
  font-family: 'Indie Flower', cursive;
  font-size: 50px; width:100%;
  height 40px;
  text-align: center;
  margin-bottom: 10px;"
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /*grid-auto-rows: minmax(40px, auto);*/
  grid-gap: 1em;
}

.container > div {
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}

.newRestaurantForm {
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-gap: 2em;

}

.newRestaurantForm > input {
  padding: 5px;
  min-width: 150px;
  width: stretch; /* not working */
}

button.fancy {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  margin: 0 1em;
}

button.fancy:hover {
  background-color: grey;
  cursor: pointer;
}

h1 {
  color: black;

}

.top-banner {
  padding-top: 20px;
  height: 200px;
}

#mapDiv {
  grid-row: 2/5;
  grid-column: 1/4;
  height: 600px;
}

.email {
  height: 20px;
  color: grey;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
   margin-left: 10px;
}

.lightbox {
  grid-row: 2/5;
  grid-column: 2;
  z-index: 20;
  background-color: white;
  border-radius: 100px;
  margin-top: 30px;
  margin-bottom: 60px;
  border: 3px solid grey;
}

.create-user-box {
  display: grid;
  justify-content: center;
  align-items: center;
}

.create-user-box > button {
  /*align-items: end;*/
}

.create-user-form {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 200px;
  margin-bottom: 55%;
}

.create-user-form > button, input {
  height: 25px;
  min-width: 200px;
}

.removeLightbox {
  position: relative;
  left: 45%;
  width: 20px;
  border: none;
  background-color: white;
  font-size: 25px;
}

.removeLightbox:hover {
  color: grey;
}

.info-window {
  width: 100%;
  color: #000000;
  min-height: 200px;
  text-align: center;
  margin-left: 10%
}

.info-window > button:first-child {
  color: #000000;
}

button.delete_restaurant {
  margin-bottom: 10px;
}

.add-menu-item > button {
  margin-top: 10px;
}



/*`<div data-rest_id = ${restaurant.restId} id="info_${restaurant.restId}" class="info-window" >
<h2>${restaurant.name}<h2>
<p>Address: ${restaurant.address}</p>
<button class="delete_restaurant">Delete Restaurant</button>
<form class="add-menu-item">
<input data-id=${restaurant.restId} type="textbox" placeholder="Add your favorite menu item">
<button type="submit">Submit</button>
<p><strong>List of Menu Items<p></strong>
<ul>${dishes}</ul>*/
